<form action="" method="post" class="col-md-3 col-md-offset-1">
    <h2>REGISTER<span class="red"></span></h2>
    <label for="firstname">First Name</label><br>
    <input type="text" id="firstname" name="firstname" class="form-control input-lg" placeholder="enter your first name..." required><br>
    <label for="lastname">Last Name</label><br>
    <input type="text" id="lastname" name="lastname" class="form-control input-lg" placeholder="enter your first name..." required><br>
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username" class="form-control input-lg" placeholder="choose a username..." required><br>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" class="form-control input-lg" placeholder="enter your email..." required><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" class="form-control input-lg" placeholder="choose a password..." required><br>
    <label for="mobile">Mobile phone</label><br>
    <input type="number" id="mobile" name="mobile" class="form-control input-lg" placeholder="enter your mobile number..." required><br>
    <label for="education">Education Qualification</label><br>
    <input type="file" id="education" name="education"><br>
    <label for="work">Working History</label><br>
    <input type="file" id="work" name="work"><br>
    <label for="address">Address</label><br>
    <input type="text" id="address" name="address" class="form-control input-lg" placeholder="enter your current address..."><br>
    <input type="checkbox" id="female" value="female">I agree to the terms and condition.<br>
    <button type="submit" class="btn btn-primary">REGISTER</button>
</form>